*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#f4f6f9;
}


.header{
  background:#9e0aae;
  padding:15px 40px;
  display:flex;
  gap:60px;
}

.header a{
  color:white;
  text-decoration:none;
  font-size:17px;
}

.header a:hover{
  color:#ffd700;
}

/* Page spacing */

.container{
  padding:40px;
}

/* Services menu */

.services-menu{
  margin-top:20px;
  margin-bottom:25px;
  display:flex;
  gap:50px;
}

.services-menu a{
  color:#cfba1d;
  text-decoration:none;
  font-weight:bold;
}

.services-menu a:hover{
  text-decoration:underline;
}