.table-wrapper {
  text-align: center;
}

.custom-table {
  margin: 20px auto;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.custom-table th {
  background-color: #f4f4f4;
}